@charset "utf-8";
$grey-dark: #111;
$success: #ab813d;
$input-focus-color: #569150;


@import "../node_modules/bulmaswatch/flatly/variables";
@import "bulma/bulma";
@import '../node_modules/bulma-slider';
@import "../node_modules/bulmaswatch/flatly/overrides";
@import '@creativebulma/bulma-tooltip';
@import '@creativebulma/bulma-tagsinput/src/sass/index';


.button:not(.is-white):not(.is-light):not(.is-borderless) {
    border-color: #6f8dab;
}

.button:hover, .button.is-hovered {
    border-color: #4d7cab;
    color: #2b3c4e;
}

.button, .tags-input, .input, .textarea, .select select, .file-cta, .file-name, .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    border-color: #eee;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    border-color: #999;
}

.input:focus {
    border-color: $input-focus-color;
    box-shadow: 0 0 0 0.125em rgba($input-focus-color, 0.25);
}